#game{
	background: url('../images/unsheltered_resized.jpg');
	height: 481px;
	width: 667px;
	margin: 0 auto;
}

#game-master{
	background: url('../images/mockup.png');
	height:481px;
	width: 667px;
}

#status{
	height: 80px;
	width: 100px;
	position: absolute;
	top: 409px;
	background: lightgray;
}

.link:hover{
	cursor: pointer;
}

.event-description p{
	margin: 0;
	padding: 0;
}

.event-description {
    width: 50%;
    margin: 0 auto;
    height: 50%;
    top: 25%;
    position: relative;
    background: white;
}

.event-description .close-button {
    bottom: 0;
    right: 0;
    text-align: center;
    border: 1px solid;
    position: absolute;
    height: 8%;
    width: 49%;
}

.event-description .accept-button {
    bottom: 0;
    left: 0;
    text-align: center;
    border: 1px solid;
    position: absolute;
    height: 8%;
    width: 49%;
}